<div class="section projects" #section>
    <h2><i class="fas fa-code"></i> Projekty własne</h2>
    <ul class="projects-list" role="list">
      <li role="listitem"><strong>Mailer</strong> - WinService pobierający i analizujący e-maile z serwera pocztowego, przekazujący dane do OpenText MBPM. Technologie: DI (Ninject), Entity Framework, GIT, UnitTest (pokrycie ~95%).</li>
      <li role="listitem"><strong>MBPM App</strong> - Aplikacja Xamarin.Android (API 25) oparta na WebAPI z uwierzytelnieniem JWT, umożliwiająca komunikację z OpenText MBPM.</li>
    </ul>
    <h2><i class="fas fa-code"></i> Dodatkowe kwalifikacje</h2>
    <ul class="projects-list" role="list">
      <li role="listitem"><strong>Narzędzia CI/CD</strong> - GIT, TFS, Jira, Confluence, TeamCity, Octopus, Grafana Loki</li>
      <li role="listitem"><strong>Bazy danych</strong> MS SQL, Oracle, PostgreSQL</li>
    </ul>
</div>