<div class="section contact" #section>
    <h2><i class="fas fa-envelope"></i> Kontakt</h2>
    <p>Email: <a href="mailto:kmsoftwaredevelopment@gmail.com">kmsoftwaredevelopment&#64;gmail.com</a>
    <br>LinkedIn: <a href="https://www.linkedin.com/in/mariusz-kraszewski-668533120/" target="_blank" rel="noopener noreferrer">Profil LinkedIn</a>
    <br>Telefon: <a href="tel:504-192-540">504 192 540</a></p>
    <div class="download-buttons">
      <a href="./assets/Mariusz_Kraszewski_pl.pdf" download class="download-btn" aria-label="Pobierz CV w formacie PDF"><i class="fas fa-file-pdf"></i> PDF</a>
      <a href="./assets/Mariusz_Kraszewski_pl.docx" download class="download-btn" aria-label="Pobierz CV w formacie DOCX"><i class="fas fa-file-word"></i> DOCX</a>
    </div>
</div>