<div class="section experience" #section>
    <h2><i class="fas fa-briefcase"></i> Doświadczenie zawodowe</h2>
    <div class="experience-item">
      <strong>Programista .NET, Unum Życie TUiR S.A. (09.2021 – obecnie)</strong>
      <p>Tworzenie, rozwój i utrzymanie aplikacji w C# (.NET Framework 3.5–4.8, .NET Core 3.1, .NET 5–7), Angular 14, ASP.NET MVC5. Wykorzystanie CQRS, MediatR, Refit, Entity Framework, ELK, RabbitMQ, GIT, TeamCity, Octopus, MS SQL. Integracje z MojeID, RestAPI. Rola Dev Leadera i współpraca z biznesem.</p>
    </div>
    <div class="experience-item">
      <strong>Programista .NET, Adrenalina Consulting Sp. z o.o (03.2017 – 09.2021)</strong>
      <p>Tworzenie projektów na platformie OpenText MBPM w C# (.NET Framework 3.5–4.8), JavaScript (jQuery), ASP.NET MVC 5, TypeScript. Utrzymanie WebService i WinService. Integracje z systemami zewnętrznymi, SQL (Oracle, Postgres), refaktoryzacja, code review, szkolenie zespołu.</p>
    </div>
    <div class="experience-item">
      <strong>Programista .NET, BMCG Software Sp. z o.o. (07.2016 – 03.2017)</strong>
      <p>Rozwój aplikacji w C# (MVVM, ASP.NET MVC), tworzenie WebService, testowanie, naprawa błędów. Praca z GIT, BitBucket, ReSharper, StyleCop. Tworzenie dokumentacji technicznej.</p>
    </div>
</div>